<footer class="footer ">
    <div class="container has-text-centered">
        <div class="content">
            <p>
                This website was handcrafted by Luke Prananta using Bulma and Angular. The source code can be found on 
                <a href="https://github.com/mlrprananta/angular-project">GitHub</a>.
            </p>
            <!--<a href="https://bulma.io/">
                <img src="../../assets/made-with-bulma.png" style="width: 155px">
            </a>-->
        </div>
    </div>
</footer>