

@import "../../../node_modules/bulma/bulma";

.is-icon {
    color: $dark;
    transition: .4s ease;
    position: relative;
    bottom: 0;
}

.is-icon:hover {
    position: relative;
    bottom: 3px;
}