<section class="hero hero-background is-large">
    <div class="hero-body">
        <div class="columns">
            <div class="column">
                <div class="container has-text-centered">
                    <h2 class="subtitle is-4">Hi there</h2>
                    <h1 class="title is-2">I'm Luke</h1>
                </div>
            </div>
            <div class="column">
            </div>
        </div>

    </div>
</section>

<section class="section">
    <div class="container has-text-centered">
        <h1 class="title is-3">About Me</h1>
        <p>A small fish in a big pond, for now.</p>
    </div>
</section>

<section class="section">
        <div class="container has-text-centered">
            <h1 class="title is-3">Projects</h1>
            <p>Soon coming, coming soon.</p>
        </div>
    </section>