<section class="hero is-fullheight" id="home">
    <div class="hero-body hero-background">
        <div class="container">
            <div class="container has-text-left has-text-centered-touch">
                <p class="subtitle is-4">Hi there</p>
                <p class="title is-2">I'm Luke</p>
                <a class="button is-medium is-primary is-inverted is-outlined " [ngx-scroll-to]="'about'">Learn more</a>
            </div>
        </div>
    </div>
</section>

<app-about></app-about>

<app-projects></app-projects>

<app-contact></app-contact>