<section class="hero hero-background is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="container has-text-left">
                <p class="subtitle is-4">Hi there</p>
                <p class="title is-2">I'm Luke</p>
                <a class="button is-medium is-primary is-inverted is-outlined ">Learn more</a>
            </div>
        </div>
    </div>
</section>

<app-about></app-about>

<div class="container"><hr class="hr"></div>

<app-projects></app-projects>