.hero-background {
    background-image: url(../../assets/splash.png);
    background-position: left center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
