<nav class="navbar is-fixed-top is-transparent" [class.solid]="isOpen">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <p class="subtitle">m.l.r.prananta</p>
            </div>
            <a class="navbar-burger burger" [class.is-active]="isOpen" (click)="onClick()">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" routerLink='/dashboard'>Home</a>
                <a class="navbar-item">About Me</a>
                <a class="navbar-item" routerLink='/projects'>Projects</a>
            </div>
        </div>
    </div>
    <aside *ngIf="isOpen" class="menu has-text-right">
            <ul class="menu-list">
                <li><a>Home</a></li>
                <li><a>About</a></li>
                <li><a>Projects</a></li>
            </ul>
        </aside>
</nav>