<nav class="navbar is-fixed-top" [@update]="isSolid ? 'solid' : 'transparent'" [ngClass]="{'is-transparent': !isSolid}">
    <div class="container">
        <div class="navbar-brand">
            <div class="navbar-item">
                <p class="subtitle">m.l.r.prananta</p>
            </div>
            <a class="navbar-burger burger" [class.is-active]="isOpen" (click)="onClick()">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="navbar-menu" [class.is-active]="isOpen">
            <div class="navbar-end">
                <a class="navbar-item" [ngx-scroll-to]="'home'">Home</a>
                <a class="navbar-item" [ngx-scroll-to]="'about'">About</a>
                <a class="navbar-item" [ngx-scroll-to]="'projects'">Projects</a>
                <a class="navbar-item" href="#contacts">Contact</a>
            </div>
        </div>
    </div>
</nav>